<a href="https://colab.research.google.com/github/adithya36/Used_Cars_Price_Prediction/blob/main/vehicles%2Bcars_merged.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.concat(
    map(pd.read_csv, ["/content/drive/MyDrive/Colab Notebooks/data/cars_clean.csv", "/content/drive/MyDrive/Colab Notebooks/data/vehicles_clean.csv"]), ignore_index=True)
print(df)

       manufacturer_name       gear  odometer  ...      fuel     price  country
0                 subaru  automatic  190000.0  ...  gasoline  10900.00  Belarus
1                 subaru  automatic  290000.0  ...  gasoline   5000.00  Belarus
2                 subaru  automatic  402000.0  ...  gasoline   2800.00  Belarus
3                 subaru     manual   10000.0  ...  gasoline   9999.00  Belarus
4                 subaru  automatic  280000.0  ...  gasoline   2134.11  Belarus
...                  ...        ...       ...  ...       ...       ...      ...
100433         chevrolet  automatic   61127.0  ...       gas  12995.00       US
100434              ford  automatic  154642.0  ...    diesel  32999.00       US
100435         chevrolet  automatic   36465.0  ...       gas  15999.00       US
100436         chevrolet  automatic  130000.0  ...       gas  18000.00       US
100437            jaguar  automatic   69550.0  ...       gas   6800.00       US

[100438 rows x 7 columns]

In [4]:
df.to_csv(r'/content/drive/MyDrive/Colab Notebooks/data/vehicles+cars_clean_merged.csv', index = False)